## `19IT031 Aman Desai`

## Practical - 6 `Logistic Regression from scratch`

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from matplotlib import pyplot as plt
df = pd.read_csv('suv_data.csv')
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

### 1. How many total observations are in data?

there are total 400 observations and 4 columns

### 2. How many independent variables?
there are total 3 independent variables which are Gender , Age and EstimatedSalary

### 3. Which is the dependent variable?
Purchased is the dependent variable as we have to predict if the person will purchase or not

In [2]:
df.drop('User ID', axis=1, inplace=True)
df.drop('Gender', axis=1, inplace=True)
df.corr()

                      Age  EstimatedSalary  Purchased
Age              1.000000         0.155238   0.622454
EstimatedSalary  0.155238         1.000000   0.362083
Purchased        0.622454         0.362083   1.000000

In [4]:
X = df.drop('Purchased', axis=1).values
Y = df['Purchased'].values

In [5]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [6]:
X_train = x_train.T
Y_train = y_train.reshape(1, X_train.shape[1])
X_test = x_test.T
Y_test = y_test.reshape(1, X_test.shape[1])

In [7]:
print("Shape of X_train : ", X_train.shape)
print("Shape of Y_train : ", Y_train.shape)

Shape of X_train :  (2, 320)
Shape of Y_train :  (1, 320)

In [8]:
print("Shape of X_test : ", X_test.shape)
print("Shape of Y_test : ", Y_test.shape)

Shape of X_test :  (2, 80)
Shape of Y_test :  (1, 80)

In [9]:
def sigmoid(x):
 return 1/(1 + np.exp(-x))

In [11]:
def model(X, Y, learning_rate, iterations):
 m = X_train.shape[1]
 n = X_train.shape[0]
 W = np.zeros((n,1))
 B = 0
 
 for i in range(iterations):
     Z = np.dot(W.T, X) + B
     A = sigmoid(Z)
 
     # cost function
     cost = -(1/m)*np.sum( Y*np.log(A) + (1-Y)*np.log(1-A))
     # Gradient Descent
     dW = (1/m)*np.dot(A-Y, X.T)
     dB = (1/m)*np.sum(A - Y)
     W = W - learning_rate*dW.T
     B = B - learning_rate*dB
 
 return W, B

In [20]:
iterations = 10000
learning_rate = 0.0001
W, B = model(X_train, Y_train, learning_rate = learning_rate, iterations = iterations)

<ipython-input-9-abdad622d074>:2: RuntimeWarning: overflow encountered in exp
  return 1/(1 + np.exp(-x))
<ipython-input-11-062bb3aa3b61>:12: RuntimeWarning: divide by zero encountered in log
  cost = -(1/m)*np.sum( Y*np.log(A) + (1-Y)*np.log(1-A))
<ipython-input-11-062bb3aa3b61>:12: RuntimeWarning: invalid value encountered in multiply
  cost = -(1/m)*np.sum( Y*np.log(A) + (1-Y)*np.log(1-A))

In [21]:
Z = np.dot(W.T, X_test) + B
A = sigmoid(Z)
A = A > 0.5
A = np.array(A, dtype = 'int64')
acc = (1 - np.sum(np.absolute(A - Y_test))/Y_test.shape[1])*100
print("Accuracy of the model is : ", round(acc, 2), "%")

Accuracy of the model is :  35.0 %

## Conclusion:
By performing this practical i about Logistic regression method to classify binary data from scratch.